@use "./Styles/reset" as *;
@use "./Styles/color" as *;

.app{
display: flex;
flex-direction: column;
flex-wrap: wrap;
&__heading{
    padding-left: 20px;
    padding-top: 20px;
    background-color: $secondary-color;
    color: $primary-color;
    height: 75px;
    font-size: 1.6rem;
}
}